/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#gridScene {
    -fx-background-image: url(wallpaper.jpg);
    -fx-background-repeat: repeat repeat;  
    -fx-background-size: 1200.0 800.0;
    -fx-background-position: center center;
    
    -fx-text-fill: rgb(255.0,255.0,255.0);
}

#warrior {
	
    -fx-background-image: url(/pics/warrior.png);
    -fx-background-repeat: stretch;  
    -fx-background-position: center center;
}
#ranger {
	
    -fx-background-image: url(/pics/ranger.png);
    -fx-background-repeat: stretch;  
    -fx-background-position: center center;
}
#wizard {
	
    -fx-background-image: url(/pics/wizard.png);
    -fx-background-repeat: stretch;  
    -fx-background-position: center center;
}
#dragonborn {
	
    -fx-background-image: url(/pics/dragonborn.png);
    -fx-background-repeat: stretch;  
    -fx-background-position: center center;
}
#dwarf {
	
    -fx-background-image: url(/pics/dwarf.png);
    -fx-background-repeat: stretch;  
    -fx-background-position: center center;
}
#tiefling {
	
    -fx-background-image: url(/pics/tiefling.png);
    -fx-background-repeat: stretch;  
    -fx-background-position: center center;
}
#monk {
	
    -fx-background-image: url(/pics/monk.png);
    -fx-background-repeat: stretch;  
    -fx-background-position: center center;
}
#highelf {
	
    -fx-background-image: url(/pics/highelf.png);
    -fx-background-repeat: stretch;  
    -fx-background-position: center center;
}